@import "/css/style.css";

.info_block {
	position: relative;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 20px;
	color: white;
	padding: 0 10px;
	background-color: #0091FE;
}

.person {
	display: flex;
	position: relative;
	justify-content: space-between;
}

.green {
	color: #3e9ee1;
}

.red {
	color: red;
}

span {
	position: absolute;
	right: 20%;
}